body{
    margin: 0px;
    min-height: 100vh;
}

h1{
    text-align: center;
}

section{
    display: flex;
    justify-content: center;
}

#container{
    border: 1px solid black;
    padding: 18px;
    height: 1000px;
    width: 1000px;
    display: flex;
    flex-direction: column;
}

#inContainer{
    display: flex;
    flex: 1;
}

#inContainer div{
    border: 1px solid black;
    padding: 3px;
    flex: 1;
}